---
layout: archive
title: "Papers"
permalink: /papers/
author_profile: true
---

<h2>Published Papers</h2>
{% for post in site.papers %}
  {% if post.category == 'published' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Accepted Papers</h2>
{% for post in site.papers %}
  {% if post.category == 'accepted' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2>Submitted Papers</h2>
{% for post in site.papers %}
  {% if post.category == 'submitted' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
