---
layout: archive
title: "Papers"
permalink: /papers/
author_profile: true
---

<details open>
  <summary style="font-size: 1.5em; font-weight: bold; cursor: pointer; margin-bottom: 0.5em;">Published Papers</summary>
  <ul>
  {% for post in site.papers %}
    {% if post.paper_status == 'published' %}
      <li>
        <a href="{{ post.url }}">
          {% if post.citation %}
            {{ post.citation }}
          {% else %}
            {{ post.title }}
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</details>

<details>
  <summary style="font-size: 1.5em; font-weight: bold; cursor: pointer; margin-bottom: 0.5em;">Accepted Papers</summary>
  <ul>
  {% for post in site.papers %}
    {% if post.paper_status == 'accepted' %}
      <li>
        <a href="{{ post.url }}">
          {% if post.citation %}
            {{ post.citation }}
          {% else %}
            {{ post.title }}
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</details>

<details>
  <summary style="font-size: 1.5em; font-weight: bold; cursor: pointer; margin-bottom: 0.5em;">Submitted Papers</summary>
  <ul>
  {% for post in site.papers %}
    {% if post.paper_status == 'submitted' %}
      <li>
        <a href="{{ post.url }}">
          {% if post.citation %}
            {{ post.citation }}
          {% else %}
            {{ post.title }}
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</details>
