<nav class="pagination">
  {% if page.collection == 'papers' %}
    <a href="{{ '/papers/' | relative_url }}" class="pagination--pager" style="display: block; width: 100%; text-align: center; font-weight: bold; padding: 15px;">
      Back to Papers
    </a>
  {% elsif page.collection == 'talks' %}
    <a href="{{ '/talks/' | relative_url }}" class="pagination--pager" style="display: block; width: 100%; text-align: center; font-weight: bold; padding: 15px;">
      Back to Talks
    </a>
  {% else %}
    <a href="javascript:history.back()" class="pagination--pager" style="display: block; width: 100%; text-align: center; font-weight: bold; padding: 15px;">
      Go Back
    </a>
  {% endif %}
</nav>
